[submodule "test/qunit"]
	path = test/qunit
	url = git://github.com/jquery/qunit.git
[submodule "speed/calper"]
	path = speed/calper
	url = git://github.com/trevnorris/calper.git
[submodule "ext/flot"]
	path = ext/flot
	url = git://github.com/flot/flot.git
[submodule "ext/jquery"]
	path = ext/jquery
	url = git://github.com/jquery/jquery.git
